#msite{
  margin: 0%, 15%;
  background-color:  rgb(229, 153, 153);
}

#foto {
  background-color: cadetblue;
}

#minha_foto {
  margin-top: 110px;
  margin-left: 450px;
  width: 250px;
  border-radius: 20px;
}

body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  top: 0;
  background-color:burlywood;
  width: 100%;
  padding-top: 10px;
  padding-left: 10px;
}

#titulo {
  color:crimson;
}

#licoes {
  float: left;
}

#licoes_aprendidas {
  margin: 20px;
}

#licoes_a_aprender {
  margin: 20px;
}

#depoimento01 {
  line-height: 40px;
  margin: 0px;
  font-family: serif
  text-align: justify;
  max-width: 800px;
  font-size: 25px;
}

.lado-direito {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  float: left;
  background-color: rgb(126, 126, 218);
}

.lado-esquerdo {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  float: right;
  background-color: indianred;
}

.table1 {
  border: 1px solid blue;
  border-radius: 0%;
  width: 600px;
}

.link {
  text-decoration: none;
  color: blue
}
 #rodape {
  font-weight: 600;
  margin-top: 20px;
  padding-top: 20px;
  background-color: burlywood;
  color: crimson;
}
